/* MovieCard.module.css */
.movieCard {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for transform and box-shadow */
}

.movieCard:hover {
  transform: scale(1.05); /* Scale up the card slightly on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Optional: Increase box-shadow for more emphasis */
}
  
  .moviePoster {
    width: 100%;
    height: 300px;
    background-size: cover;
    position: relative;
  }
  
  .gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  }
  
  .movieTitle {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .starRating {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .star {
    font-size: 24px;
    margin-right: 4px;
    color: white;
  }
  
  .orange {
    color: orange;
  }
  